<div id="<%= dom_id service %>">
  <p>
    <strong>Name:</strong>
    <%= service.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= service.price %>
  </p>

  <p>
    <strong>Commission:</strong>
    <%= service.commission %>
  </p>

  <p>
    <strong>Worker:</strong>
    <% service.workers.each do |worker| %>
      <%= worker.name %>
    <% end %>
  </p>
 
</div>
