<tr>
  <td class=""><%= worker.name %></td>
  <td class=""><%= worker.email %></td>
  <td class=""><%= worker.phone %></td>
  <td class=""><%= worker.services %></td>
  <td class=""><%= worker.created_at %></td>
  <td class=""><%= worker.updated_at %></td>
  <td class=""><%= worker.current_sign_in_at %></td>
  <td class=""><%= worker.sign_in_count %></td>
  <!-- Add more fields as needed -->
</tr>
