<div id="<%= dom_id worker %>">
  <p>
    <strong>Name:</strong>
    <%= worker.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= worker.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= worker.phone %>
  </p>

  <p>
    <strong>Services:</strong>
    <%= worker.service_id.present? ? worker.service_id: "No Service Assigned" %>
  </p>

</div>
